### Stage Two Analysis

In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#import files xlsx
df = pd.read_excel('marketing_campaign_dataset.xlsx')

print(df.shape)

(200005, 15)

In [23]:
df.head()

,Campaign_ID,Company,Campaign_Type,Target_Audience,Duration,Channel_Used,Conversion_Rate,Acquisition_Cost,ROI,Location,Date,Clicks,Impressions,Engagement_Score,Customer_Segment
0,1,Innovate Industries,Email,Men 18-24,30 days,Google Ads,0.04,16174,6.29,Chicago,2021-01-01 00:00:00,506,1922,6,Health & Wellness
1,2,NexGen Systems,Email,Women 35-44,60 days,Google Ads,0.12,11566,5.61,New York,2021-02-01 00:00:00,116,7523,7,Fashionistas
2,3,Alpha Innovations,Influencer,Men 25-34,30 days,YouTube,0.07,10200,7.18,Los Angeles,2021-03-01 00:00:00,584,7698,1,Outdoor Adventurers
3,4,DataTech Solutions,Display,All Ages,60 days,YouTube,0.11,12724,5.55,Miami,2021-04-01 00:00:00,217,1820,7,Health & Wellness
4,5,NexGen Systems,Email,Men 25-34,15 days,YouTube,0.05,16452,6.50,Los Angeles,2021-05-01 00:00:00,379,4201,3,Health & Wellness

In [24]:
df.isnull().sum()

Campaign_ID         0
Company             0
Campaign_Type       0
Target_Audience     0
Duration            0
Channel_Used        0
Conversion_Rate     0
Acquisition_Cost    0
ROI                 0
Location            0
Date                0
Clicks              0
Impressions         0
Engagement_Score    0
Customer_Segment    0
dtype: int64

In [25]:
#check data type
df.dtypes

Campaign_ID           int64
Company              object
Campaign_Type        object
Target_Audience      object
Duration             object
Channel_Used         object
Conversion_Rate     float64
Acquisition_Cost      int64
ROI                 float64
Location             object
Date                 object
Clicks                int64
Impressions           int64
Engagement_Score      int64
Customer_Segment     object
dtype: object

In [26]:
df.shape

(200005, 15)

In [27]:
df.columns

Index(['Campaign_ID', 'Company', 'Campaign_Type', 'Target_Audience',
       'Duration', 'Channel_Used', 'Conversion_Rate', 'Acquisition_Cost',
       'ROI', 'Location', 'Date', 'Clicks', 'Impressions', 'Engagement_Score',
       'Customer_Segment'],
      dtype='object')

In [28]:
df['CTR'] = df['Clicks'] / df['Impressions'] * 100

In [34]:
df["CPC"] = df['Acquisition_Cost']/ df['Clicks']

df['ROI']

0         6.29
1         5.61
2         7.18
3         5.55
4         6.50
          ...
200000    2.84
200001    4.14
200002    3.25
200003    3.86
200004    6.64
Name: ROI, Length: 200005, dtype: float64

In [39]:


# Basic statistics
print("\nBasic Statistics:\n", df[['Clicks', 'Impressions', 'Acquisition_Cost', 'ROI']].describe())

Basic Statistics:
               Clicks    Impressions  Acquisition_Cost            ROI
count  200005.000000  200005.000000     200005.000000  200005.000000
mean      549.774591    5507.307107      12504.441794       5.002416
std       260.019354    2596.863794       4337.663210       1.734485
min       100.000000    1000.000000       5000.000000       2.000000
25%       325.000000    3266.000000       8740.000000       3.500000
50%       550.000000    5518.000000      12497.000000       5.010000
75%       775.000000    7753.000000      16264.000000       6.510000
max      1000.000000   10000.000000      20000.000000       8.000000